<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BED761561B374D6700687B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BED761601B374D6700687B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BED7620E1B37810000687B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
